# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env
.env.local
.env.test
.env.production

# Build output
dist/
build/
coverage/
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.idea/
.vscode/
*.swp

# Docker
docker-compose.override.yml
.docker/
docker-data/
volumes/
*.pid
*.seed
*.bak

# K6 testing
k6/results/
k6/output/
k6/tmp/


# Prometheus & Loki data
prometheus-data/
loki-data/
grafana-data/
*.db
*.wal

# Certificates / secrets
certs/
*.pem
*.crt
*.key

# Redis / Temp cache
redis-data/
tmp/
cache/

# OS-specific junk
*.tmp
*.bak
*~
